// /* CSS for section clients */

.clients-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;

    @include mq(notDesktop) {
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @include mq(mobile) {
        &__item:not(:last-child) {
            margin-right: 30px;
        }
    }
    @include mq(mobile-tablet) {
        &__item {
            flex-basis: calc((100% - 30px) / 2);
        }

        &__item:nth-child(2n) {
            margin-right: 0;
        }

        &__item:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }

    @include mq(tablet-only) {
        &__item {
            flex-basis: calc((100% - 60px) / 3);
        }
    
        &__item:nth-child(3n) {
            margin-right: 0;
        }
    
        &__item:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }
    @include mq(desktop) {
        &__item {
                flex-basis: calc((100% - 150px) / 6);
            }
    }

    &__item {
        height: 92px;
    }

    &__icon {
        fill: currentColor;
    }
}

.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid getColor('primary-icons');
    outline: transparent;
    border-radius: 4px;
    color: getColor('primary-icons');
    transition: border 250ms $timing-function, color 250ms $timing-function;

    &:hover,
    &:focus {
        color: getColor('accent');
        border: 1px solid getColor('accent');
    }
}