/* CSS for section features */
.features-list {
    @extend %list;

    @include mq(notDesktop) {
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        &__item {
            margin-right: 30px;
        }
    }
    @include mq(tablet-only) {
        &__item {
            flex-basis: calc((100% - 30px) / 2);
        }

        &__item:nth-child(2n) {
            margin-right: 0;
        }

        &__item:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }
    @include mq(desktop) {
        &__item {
            margin-bottom: 0;
            flex-basis: calc((100% - 90px) / 4);
            &:last-child {
                margin-right: 0;
            }
        }

    }
}

.features-list__title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    color: getColor('title-text');
    @include font($mixinFontWeight: 700, $mixinFontSize: 14, $mixinLineHeight: 1.14);
    text-transform: uppercase;
}

.features-list__container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    height: 120px;

    background-color: getBackGroundColor('team');
    border-radius: 4px;
}

.features-list__icon {
    background-position: center;
}

/* Clear to paragraph in features */
.features-list__text {
    margin-top: 0;
    margin-bottom: 0;
}