/* CSS for section footer */
.footer {
    padding: 60px 0;

    background-color: getBackGroundColor('footer');
}

.footer-container {
    @include mq(notDesktop) {
        text-align: center;
    } 
    @include mq(tablet) {
        padding-right: 89px;
        padding-left: 76px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }
    @include mq(desktop) {
        padding-right: 15px;
        padding-left: 15px;
        flex-wrap: nowrap;
    }
}

.adress-container {
    margin-bottom: 60px;
    @include mq(desktop) {
        margin-right: 70px;
        margin-bottom: 0;
    }
}

.footer__logo {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;

    @include mq(desktop) {
        padding-left: 0;
        padding-right: 0;
    }
}

// Adress is here
.footer-list {
    @extend %list;
}

/* margin for footer */
.footer-list__item {
    margin-bottom: 8px;

    /* clear the last position in footer */
    &:last-child {
        margin-bottom: 0;
    }
    @include mq(desktop) {
        width: 231px;
        margin-bottom: 9px;
    }
}

/* style for footer adress */
.footer-list__adress {
    color: getBackGroundColor('primary');
    @include font($mixinFontWeight: 400, $mixinFontSize: 14, $mixinLineHeight: 1.71, $mixinLetterSpacing: 0.03em);
    text-decoration: none;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        outline: transparent;
        color: getColor('accent');
    }    
}

/* styles for links in footer */
.footer-list__link {
    color: getColor('footer-link');
    @include font($mixinFontWeight: 400, $mixinFontSize: 14, $mixinLineHeight: 1.71, $mixinLetterSpacing: 0.03em);
    text-decoration: none;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        outline: transparent;
        color: getColor('accent');
    }
}

.connect-container {
    margin-bottom: 60px;
    @include mq(tablet) {
        margin-bottom: 0;
    }
    @include mq(desktop) {
        margin-right: 93px;
    }
}

.footer-container__title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;

    @include font($mixinFontSize: 14, $mixinFontWeight: 700, $mixinLineHeight: 1.14);
    text-transform: uppercase;

    color: getBackGroundColor('primary');
}

.subscribe-form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include mq(notDesktop) {
        text-align: center;
    }

    @include mq(desktop) {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
    }

    &__label {
        display: block;
        margin-bottom: 20px;
        cursor: pointer;

        @include mq(desktop) {
            flex-grow: 2;
            margin-right: 12px;
            margin-bottom: 0;
        }
    }

    &__input {
        padding: 15px 15px 15px 16px;
        width: 100%;
        max-width: 450px;
        height: 50px;

        color: getColor('footer-link');
        @include font($mixinFontSize: 16, $mixinLineHeight: 1.25, $mixinLetterSpacing: 0.03em);
        background-color: getBackGroundColor('footer');
        border: 1px solid getBorderColor('subscribe-form');
        border-radius: 4px;
        outline: transparent;
        cursor: pointer;
    }
}

.subscribe-btn {
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 28px 10px 29px;
    color: getBackGroundColor('primary');
    background-color: getColor('accent');
    box-shadow: 0px 4px 4px getBlackColorWithAlpha(0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &__text {
        margin-right: 10px;
        color: getBackGroundColor('primary');
        @include font($mixinFontWeight: 700, $mixinFontSize: 16, $mixinLineHeight: 1.88, $mixinLetterSpacing: 0.06em);
    }

    &__icon {
        fill: currentColor;
    }
}