/* Portfolio */

/* put card in net */
.cards-list {
  @extend %list;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Item in portfolio cards */
.cards-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include mq(tablet) {
    margin-right: 30px;
  }
  @include mq(tablet-only) {
    flex-basis: calc((100% - 30px) / 2);

    &:first-child .cards-list__container {
      padding: 20px 24px 56px;
    }
    /* Clear the last in row */
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  @include mq(desktop) {
    flex-basis: calc((100% - 60px) / 3);

    /* Clear the last in row */
    &:nth-child(3n) {
      margin-right: 0;
    }

    /* Clear for last 3 cards */
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

/* link for card */
.cards-list__link {
  display: block;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px getBlackColorWithAlpha(0.12), 0px 4px 4px getBlackColorWithAlpha(0.06),
      1px 4px 6px getBlackColorWithAlpha(0.16);
  }
}

.cards-list__tumb {
  position: relative;
  overflow: hidden;
}

.cards-list__overlay {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  padding: 77px 24px;

  background: getBackGroundColor('card-portfolio');
  transform: translateY(101%);
  transition: transform 250ms $timing-function;

  .cards-list__link:hover &,
  .cards-list__link:focus & {
    transform: translateY(0);
  }
  @include mq(tablet) {
    padding: 49px 24px 77px;
  }
  @include mq(desktop) {
    padding: 63px 24px;
  }
}

/* style for p in portfolio */
.cards-list__text {
  margin: 0;

  color: getColor('primary-text');
  @include font(
    $mixinFontWeight: 400,
    $mixinFontSize: 16,
    $mixinLineHeight: 1.88,
    $mixinLetterSpacing: 0.03em
  );
}

/* borders and style for cards */
.cards-list__container {
  padding: 20px 24px;

  @each $side in right, bottom, left {
    border-#{$side}: 1px solid getBorderColor('card');
  }
}

/* style for title of portfolio */
.cards-list__title {
  margin-top: 0;
  margin-bottom: 4px;

  color: getColor('title-text');
  @include font(
    $mixinFontWeight: 700,
    $mixinFontSize: 18,
    $mixinLineHeight: 2,
    $mixinLetterSpacing: 0.06em
  );
}

.cards-list__paragraph {
  margin: 0;
  padding: 0;

  color: getBackGroundColor('primary');
  @include font(
    $mixinFontWeight: 400,
    $mixinFontSize: 18,
    $mixinLineHeight: 1.56,
    $mixinLetterSpacing: 0.03em
  );

  opacity: 0;
  transition: opacity 250ms $timing-function, transform 250ms $timing-function;

  .cards-list__link:hover &,
  .cards-list__link:focus & {
    opacity: 1;
  }
}
